In [ ]:
import pandas
import json
import os
import gc

def convert_to_parquet(mode: str = 'niid', dataset: str = 'train'):
  directory = os.path.join(f'./data/{mode}/{dataset}')
  files = os.listdir(directory)

  def create_json_from_json(path):
    with open(os.path.join(directory, path), 'r') as f:
      data = json.load(f)
  
    exploded = pandas.DataFrame(data['user_data']).T.explode(list('xy')) 

    del data
    gc.collect()

    os.mkdir(f'output_{mode}_{dataset}')
    os.mkdir(f'output')

    features = pandas.DataFrame(exploded['x'].values.tolist(), index = exploded.index)
    features.columns = [ f'x{i + 1}' for i in range(784) ]

    flattened = pandas.concat([ exploded.drop(columns = 'x'), features ], axis = 1)
    flattened.to_parquet(f"output_{mode}_{dataset}/{name.removesuffix('json')}.parquet", index_label = 'user')

    del exploded
    del flattened
    del features
    gc.collect()

  # all json to all parquet
  for i, name in enumerate(files):
    create_csv_from_json(name)
    print(f'...[{i + 1}/{len(files)}]')

  gc.collect()
  
  directory = os.path.join(f'output_{mode}_{dataset}')
  files = os.listdir(directory)
  frames = []

  # all parquet to one unique parquet
  for i, name in enumerate(files):
    frames.append(pandas.read_parquet(os.path.join(directory, name)))

  pandas.concat(frames, axis = 0).to_parquet(f'output/{mode}/{dataset}.parquet')

  gc.collect()

...[1/36]
...[2/36]
...[3/36]
...[4/36]
...[5/36]
...[6/36]
...[7/36]
...[8/36]
...[9/36]
...[10/36]
...[11/36]
...[12/36]
...[13/36]
...[14/36]
...[15/36]
...[16/36]
...[17/36]
...[18/36]
...[19/36]
...[20/36]
...[21/36]
...[22/36]
...[23/36]
...[24/36]
...[25/36]
...[26/36]
...[27/36]
...[28/36]
...[29/36]
...[30/36]
...[31/36]
...[32/36]
...[33/36]
...[34/36]
...[35/36]
...[36/36]

In [ ]:
exploded = pandas.DataFrame(data['user_data']).T.explode(list('xy'))
exploded

                                                          x   y
f3655_18  [1.0, 1.0, 1.0, 1.0, 1.0, 1.0, 1.0, 1.0, 1.0, ...  55
f3655_18  [1.0, 1.0, 1.0, 1.0, 1.0, 1.0, 1.0, 1.0, 1.0, ...  55
f3655_18  [1.0, 1.0, 1.0, 1.0, 1.0, 1.0, 1.0, 1.0, 1.0, ...  50
f3655_18  [1.0, 1.0, 1.0, 1.0, 1.0, 1.0, 1.0, 1.0, 1.0, ...  51
f3655_18  [1.0, 1.0, 1.0, 1.0, 1.0, 1.0, 1.0, 1.0, 1.0, ...  46
...                                                     ...  ..
f3674_32  [1.0, 1.0, 1.0, 1.0, 1.0, 1.0, 1.0, 1.0, 1.0, ...  48
f3674_32  [1.0, 1.0, 1.0, 1.0, 1.0, 1.0, 1.0, 1.0, 1.0, ...  59
f3674_32  [1.0, 1.0, 1.0, 1.0, 1.0, 1.0, 1.0, 1.0, 1.0, ...  37
f3674_32  [1.0, 1.0, 1.0, 1.0, 1.0, 1.0, 1.0, 1.0, 1.0, ...  60
f3674_32  [1.0, 1.0, 1.0, 1.0, 1.0, 1.0, 1.0, 1.0, 1.0, ...  40

[15257 rows x 2 columns]

In [ ]:
features = pandas.DataFrame(exploded['x'].values.tolist(), index = exploded.index)
features.columns = [ f'x{i + 1}' for i in range(784) ]
features

,x1,x2,x3,x4,x5,x6,x7,x8,x9,x10,...,x775,x776,x777,x778,x779,x780,x781,x782,x783,x784
f3655_18,1.0,1.0,1.0,1.0,1.0,1.0,1.0,1.0,1.0,1.0,...,1.0,1.0,1.0,1.0,1.0,1.0,1.0,1.0,1.0,1.0
f3655_18,1.0,1.0,1.0,1.0,1.0,1.0,1.0,1.0,1.0,1.0,...,1.0,1.0,1.0,1.0,1.0,1.0,1.0,1.0,1.0,1.0
f3655_18,1.0,1.0,1.0,1.0,1.0,1.0,1.0,1.0,1.0,1.0,...,1.0,1.0,1.0,1.0,1.0,1.0,1.0,1.0,1.0,1.0
f3655_18,1.0,1.0,1.0,1.0,1.0,1.0,1.0,1.0,1.0,1.0,...,1.0,1.0,1.0,1.0,1.0,1.0,1.0,1.0,1.0,1.0
f3655_18,1.0,1.0,1.0,1.0,1.0,1.0,1.0,1.0,1.0,1.0,...,1.0,1.0,1.0,1.0,1.0,1.0,1.0,1.0,1.0,1.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
f3674_32,1.0,1.0,1.0,1.0,1.0,1.0,1.0,1.0,1.0,1.0,...,1.0,1.0,1.0,1.0,1.0,1.0,1.0,1.0,1.0,1.0
f3674_32,1.0,1.0,1.0,1.0,1.0,1.0,1.0,1.0,1.0,1.0,...,1.0,1.0,1.0,1.0,1.0,1.0,1.0,1.0,1.0,1.0
f3674_32,1.0,1.0,1.0,1.0,1.0,1.0,1.0,1.0,1.0,1.0,...,1.0,1.0,1.0,1.0,1.0,1.0,1.0,1.0,1.0,1.0
f3674_32,1.0,1.0,1.0,1.0,1.0,1.0,1.0,1.0,1.0,1.0,...,1.0,1.0,1.0,1.0,1.0,1.0,1.0,1.0,1.0,1.0
f3674_32,1.0,1.0,1.0,1.0,1.0,1.0,1.0,1.0,1.0,1.0,...,1.0,1.0,1.0,1.0,1.0,1.0,1.0,1.0,1.0,1.0

In [ ]:
flattened = pandas.concat([ exploded.drop(columns = 'x'), features ], axis = 1)
flattened.to_csv('tmp.csv', index_label = 'user')
flattened

,y,x1,x2,x3,x4,x5,x6,x7,x8,x9,...,x775,x776,x777,x778,x779,x780,x781,x782,x783,x784
f3655_18,55,1.0,1.0,1.0,1.0,1.0,1.0,1.0,1.0,1.0,...,1.0,1.0,1.0,1.0,1.0,1.0,1.0,1.0,1.0,1.0
f3655_18,55,1.0,1.0,1.0,1.0,1.0,1.0,1.0,1.0,1.0,...,1.0,1.0,1.0,1.0,1.0,1.0,1.0,1.0,1.0,1.0
f3655_18,50,1.0,1.0,1.0,1.0,1.0,1.0,1.0,1.0,1.0,...,1.0,1.0,1.0,1.0,1.0,1.0,1.0,1.0,1.0,1.0
f3655_18,51,1.0,1.0,1.0,1.0,1.0,1.0,1.0,1.0,1.0,...,1.0,1.0,1.0,1.0,1.0,1.0,1.0,1.0,1.0,1.0
f3655_18,46,1.0,1.0,1.0,1.0,1.0,1.0,1.0,1.0,1.0,...,1.0,1.0,1.0,1.0,1.0,1.0,1.0,1.0,1.0,1.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
f3674_32,48,1.0,1.0,1.0,1.0,1.0,1.0,1.0,1.0,1.0,...,1.0,1.0,1.0,1.0,1.0,1.0,1.0,1.0,1.0,1.0
f3674_32,59,1.0,1.0,1.0,1.0,1.0,1.0,1.0,1.0,1.0,...,1.0,1.0,1.0,1.0,1.0,1.0,1.0,1.0,1.0,1.0
f3674_32,37,1.0,1.0,1.0,1.0,1.0,1.0,1.0,1.0,1.0,...,1.0,1.0,1.0,1.0,1.0,1.0,1.0,1.0,1.0,1.0
f3674_32,60,1.0,1.0,1.0,1.0,1.0,1.0,1.0,1.0,1.0,...,1.0,1.0,1.0,1.0,1.0,1.0,1.0,1.0,1.0,1.0
f3674_32,40,1.0,1.0,1.0,1.0,1.0,1.0,1.0,1.0,1.0,...,1.0,1.0,1.0,1.0,1.0,1.0,1.0,1.0,1.0,1.0

In [ ]:
pandas.read_csv('tmp.csv', index_col = 'user')

,y,x1,x2,x3,x4,x5,x6,x7,x8,x9,...,x775,x776,x777,x778,x779,x780,x781,x782,x783,x784
user,,,,,,,,,,,,,,,,,,,,,
f3655_18,55,1.0,1.0,1.0,1.0,1.0,1.0,1.0,1.0,1.0,...,1.0,1.0,1.0,1.0,1.0,1.0,1.0,1.0,1.0,1.0
f3655_18,55,1.0,1.0,1.0,1.0,1.0,1.0,1.0,1.0,1.0,...,1.0,1.0,1.0,1.0,1.0,1.0,1.0,1.0,1.0,1.0
f3655_18,50,1.0,1.0,1.0,1.0,1.0,1.0,1.0,1.0,1.0,...,1.0,1.0,1.0,1.0,1.0,1.0,1.0,1.0,1.0,1.0
f3655_18,51,1.0,1.0,1.0,1.0,1.0,1.0,1.0,1.0,1.0,...,1.0,1.0,1.0,1.0,1.0,1.0,1.0,1.0,1.0,1.0
f3655_18,46,1.0,1.0,1.0,1.0,1.0,1.0,1.0,1.0,1.0,...,1.0,1.0,1.0,1.0,1.0,1.0,1.0,1.0,1.0,1.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
f3674_32,48,1.0,1.0,1.0,1.0,1.0,1.0,1.0,1.0,1.0,...,1.0,1.0,1.0,1.0,1.0,1.0,1.0,1.0,1.0,1.0
f3674_32,59,1.0,1.0,1.0,1.0,1.0,1.0,1.0,1.0,1.0,...,1.0,1.0,1.0,1.0,1.0,1.0,1.0,1.0,1.0,1.0
f3674_32,37,1.0,1.0,1.0,1.0,1.0,1.0,1.0,1.0,1.0,...,1.0,1.0,1.0,1.0,1.0,1.0,1.0,1.0,1.0,1.0
f3674_32,60,1.0,1.0,1.0,1.0,1.0,1.0,1.0,1.0,1.0,...,1.0,1.0,1.0,1.0,1.0,1.0,1.0,1.0,1.0,1.0
f3674_32,40,1.0,1.0,1.0,1.0,1.0,1.0,1.0,1.0,1.0,...,1.0,1.0,1.0,1.0,1.0,1.0,1.0,1.0,1.0,1.0

In [9]:
import os 
import pandas as pd

path = os.path.join(os.getcwd(), 'data', 'all_data', 'all_data_0.parquet')

df = pd.read_parquet(path=path)
df

,user,y,x1,x2,x3,x4,x5,x6,x7,x8,...,x775,x776,x777,x778,x779,x780,x781,x782,x783,x784
0,f3930_25,60,1.0,1.0,1.0,1.0,1.0,1.0,1.0,1.0,...,1.0,1.0,1.0,1.0,1.0,1.0,1.0,1.0,1.0,1.0
1,f3930_25,52,1.0,1.0,1.0,1.0,1.0,1.0,1.0,1.0,...,1.0,1.0,1.0,1.0,1.0,1.0,1.0,1.0,1.0,1.0
2,f3930_25,61,1.0,1.0,1.0,1.0,1.0,1.0,1.0,1.0,...,1.0,1.0,1.0,1.0,1.0,1.0,1.0,1.0,1.0,1.0
3,f3930_25,47,1.0,1.0,1.0,1.0,1.0,1.0,1.0,1.0,...,1.0,1.0,1.0,1.0,1.0,1.0,1.0,1.0,1.0,1.0
4,f3930_25,51,1.0,1.0,1.0,1.0,1.0,1.0,1.0,1.0,...,1.0,1.0,1.0,1.0,1.0,1.0,1.0,1.0,1.0,1.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
16689,f4077_42,18,1.0,1.0,1.0,1.0,1.0,1.0,1.0,1.0,...,1.0,1.0,1.0,1.0,1.0,1.0,1.0,1.0,1.0,1.0
16690,f4077_42,35,1.0,1.0,1.0,1.0,1.0,1.0,1.0,1.0,...,1.0,1.0,1.0,1.0,1.0,1.0,1.0,1.0,1.0,1.0
16691,f4077_42,12,1.0,1.0,1.0,1.0,1.0,1.0,1.0,1.0,...,1.0,1.0,1.0,1.0,1.0,1.0,1.0,1.0,1.0,1.0
16692,f4077_42,28,1.0,1.0,1.0,1.0,1.0,1.0,1.0,1.0,...,1.0,1.0,1.0,1.0,1.0,1.0,1.0,1.0,1.0,1.0
16693,f4077_42,13,1.0,1.0,1.0,1.0,1.0,1.0,1.0,1.0,...,1.0,1.0,1.0,1.0,1.0,1.0,1.0,1.0,1.0,1.0

In [13]:
df['x356'].std()

0.12162357338132307

In [1]:
import os 
import pandas as pd

path = os.path.join(os.getcwd(), 'data', 'iid/train', 'all_data_0_iid_01_0_keep_0_train_9.parquet')

df = pd.read_parquet(path=path)
df

,user,y,x1,x2,x3,x4,x5,x6,x7,x8,...,x775,x776,x777,x778,x779,x780,x781,x782,x783,x784
0,8,60,1.0,1.0,1.0,1.0,1.0,1.0,1.0,1.0,...,1.0,1.0,1.0,1.0,1.0,1.0,1.0,1.0,1.0,1.0
1,8,52,1.0,1.0,1.0,1.0,1.0,1.0,1.0,1.0,...,1.0,1.0,1.0,1.0,1.0,1.0,1.0,1.0,1.0,1.0
2,8,61,1.0,1.0,1.0,1.0,1.0,1.0,1.0,1.0,...,1.0,1.0,1.0,1.0,1.0,1.0,1.0,1.0,1.0,1.0
3,8,47,1.0,1.0,1.0,1.0,1.0,1.0,1.0,1.0,...,1.0,1.0,1.0,1.0,1.0,1.0,1.0,1.0,1.0,1.0
4,8,51,1.0,1.0,1.0,1.0,1.0,1.0,1.0,1.0,...,1.0,1.0,1.0,1.0,1.0,1.0,1.0,1.0,1.0,1.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
15019,8,18,1.0,1.0,1.0,1.0,1.0,1.0,1.0,1.0,...,1.0,1.0,1.0,1.0,1.0,1.0,1.0,1.0,1.0,1.0
15020,8,35,1.0,1.0,1.0,1.0,1.0,1.0,1.0,1.0,...,1.0,1.0,1.0,1.0,1.0,1.0,1.0,1.0,1.0,1.0
15021,8,12,1.0,1.0,1.0,1.0,1.0,1.0,1.0,1.0,...,1.0,1.0,1.0,1.0,1.0,1.0,1.0,1.0,1.0,1.0
15022,8,28,1.0,1.0,1.0,1.0,1.0,1.0,1.0,1.0,...,1.0,1.0,1.0,1.0,1.0,1.0,1.0,1.0,1.0,1.0
15023,8,13,1.0,1.0,1.0,1.0,1.0,1.0,1.0,1.0,...,1.0,1.0,1.0,1.0,1.0,1.0,1.0,1.0,1.0,1.0

In [15]:
import numpy as np
np.array(df.groupby(by='user').nunique()['y'])

array([51, 56, 56, 58, 56, 56, 30, 55, 53, 61, 35, 40, 57, 57, 52, 42, 55,
       54, 50, 60, 49, 57, 51, 58, 49, 56, 60, 53, 57, 53, 60, 59, 57, 57,
       59, 54, 59, 60, 60, 54, 62, 52, 60, 54, 49, 57, 61, 56, 58, 56, 43,
       56, 58, 51, 55, 57, 44, 60, 56, 60, 58, 45, 59, 60, 57, 60, 55, 51,
       56, 55, 53, 60, 52, 58, 53, 44, 58, 58, 49, 55, 57, 58, 43, 56, 59,
       51, 57, 61, 47, 26, 56, 58, 58, 60, 45, 52, 40, 52, 59, 52])

In [16]:
df['user'].unique()

array(['f3930_25', 'f3941_08', 'f3829_26', 'f3873_37', 'f3685_08',
       'f4012_13', 'f4045_31', 'f3926_17', 'f3833_03', 'f3731_07',
       'f3631_34', 'f3835_39', 'f3814_43', 'f3981_38', 'f4043_08',
       'f3884_40', 'f3801_00', 'f3711_08', 'f3857_01', 'f3734_01',
       'f3774_21', 'f4091_23', 'f3832_04', 'f3874_15', 'f3713_40',
       'f3761_12', 'f4021_01', 'f3694_44', 'f3878_43', 'f3903_05',
       'f3638_42', 'f4056_41', 'f3654_03', 'f3635_09', 'f3607_15',
       'f3932_35', 'f3938_46', 'f3887_39', 'f3822_47', 'f3837_30',
       'f3842_45', 'f3622_43', 'f4009_27', 'f3910_30', 'f3844_11',
       'f4087_40', 'f4055_44', 'f3883_18', 'f3718_40', 'f4038_15',
       'f3759_43', 'f3920_08', 'f3633_29', 'f3978_35', 'f3900_35',
       'f3963_34', 'f3777_32', 'f3950_44', 'f3681_31', 'f3852_32',
       'f3778_23', 'f3885_04', 'f3869_23', 'f3830_48', 'f3967_43',
       'f3999_42', 'f4004_35', 'f3643_29', 'f3919_18', 'f3709_31',
       'f3880_29', 'f3665_22', 'f4097_41', 'f3995_18', 'f4022_12',
       'f3728_28', 'f4080_22', 'f3612_13', 'f3656_42', 'f3642_03',
       'f3990_02', 'f4096_14', 'f4029_29', 'f3629_19', 'f3888_32',
       'f3843_30', 'f3859_23', 'f3732_30', 'f3798_08', 'f4001_45',
       'f3875_35', 'f3768_02', 'f3693_03', 'f3632_10', 'f3715_44',
       'f3866_43', 'f4066_22', 'f4036_01', 'f3614_06', 'f4077_42'],
      dtype=object)

In [6]:
df.index.unique()

Index(['f0099_18'], dtype='object', name='user')

In [6]:
import os 
import pandas as pd

tot = 0

subdir = os.path.join(os.getcwd(), 'data', 'niid/sampled_data')
files = os.listdir(subdir)
files = [f for f in files if f.endswith('.parquet')]

for f in files:
    path = os.path.join(subdir, f)

    df = pd.read_parquet(path=path)
    tot += len(df['user'].unique())

tot

3597

In [8]:
import os 
import pandas as pd

tot = 0

subdir = os.path.join(os.getcwd(), 'data', 'iid/sampled_data')
files = os.listdir(subdir)
files = [f for f in files if f.endswith('.parquet')]

for f in files:
    path = os.path.join(subdir, f)

    df = pd.read_parquet(path=path)
    tot += len(df['user'].unique())

tot

3633

In [17]:
import os 
import pandas as pd

tot = 0

subdir = os.path.join(os.getcwd(), 'data', 'iid/sampled_data')
files = os.listdir(subdir)
files = [f for f in files if f.endswith('.parquet')]

path = os.path.join(subdir, files[0])
df = pd.read_parquet(path=path)
test = df[513:533]

In [18]:
test

,user,y,x1,x2,x3,x4,x5,x6,x7,x8,...,x775,x776,x777,x778,x779,x780,x781,x782,x783,x784
513,None,53.0,1.0,1.0,1.0,1.0,1.0,1.0,1.0,1.0,...,1.0,1.0,1.0,1.0,1.0,1.0,1.0,1.0,1.0,1.0
514,None,2.0,1.0,1.0,1.0,1.0,1.0,1.0,1.0,1.0,...,1.0,1.0,1.0,1.0,1.0,1.0,1.0,1.0,1.0,1.0
515,None,8.0,1.0,1.0,1.0,1.0,1.0,1.0,1.0,1.0,...,1.0,1.0,1.0,1.0,1.0,1.0,1.0,1.0,1.0,1.0
516,None,2.0,1.0,1.0,1.0,1.0,1.0,1.0,1.0,1.0,...,1.0,1.0,1.0,1.0,1.0,1.0,1.0,1.0,1.0,1.0
517,None,0.0,1.0,1.0,1.0,1.0,1.0,1.0,1.0,1.0,...,1.0,1.0,1.0,1.0,1.0,1.0,1.0,1.0,1.0,1.0
518,None,7.0,1.0,1.0,1.0,1.0,1.0,1.0,1.0,1.0,...,1.0,1.0,1.0,1.0,1.0,1.0,1.0,1.0,1.0,1.0
519,None,27.0,1.0,1.0,1.0,1.0,1.0,1.0,1.0,1.0,...,1.0,1.0,1.0,1.0,1.0,1.0,1.0,1.0,1.0,1.0
520,None,25.0,1.0,1.0,1.0,1.0,1.0,1.0,1.0,1.0,...,1.0,1.0,1.0,1.0,1.0,1.0,1.0,1.0,1.0,1.0
521,None,5.0,1.0,1.0,1.0,1.0,1.0,1.0,1.0,1.0,...,1.0,1.0,1.0,1.0,1.0,1.0,1.0,1.0,1.0,1.0
522,None,58.0,1.0,1.0,1.0,1.0,1.0,1.0,1.0,1.0,...,1.0,1.0,1.0,1.0,1.0,1.0,1.0,1.0,1.0,1.0
523,None,4.0,1.0,1.0,1.0,1.0,1.0,1.0,1.0,1.0,...,1.0,1.0,1.0,1.0,1.0,1.0,1.0,1.0,1.0,1.0
524,None,0.0,1.0,1.0,1.0,1.0,1.0,1.0,1.0,1.0,...,1.0,1.0,1.0,1.0,1.0,1.0,1.0,1.0,1.0,1.0
525,None,3.0,1.0,1.0,1.0,1.0,1.0,1.0,1.0,1.0,...,1.0,1.0,1.0,1.0,1.0,1.0,1.0,1.0,1.0,1.0
526,None,5.0,1.0,1.0,1.0,1.0,1.0,1.0,1.0,1.0,...,1.0,1.0,1.0,1.0,1.0,1.0,1.0,1.0,1.0,1.0
527,None,3.0,1.0,1.0,1.0,1.0,1.0,1.0,1.0,1.0,...,1.0,1.0,1.0,1.0,1.0,1.0,1.0,1.0,1.0,1.0
528,None,3.0,1.0,1.0,1.0,1.0,1.0,1.0,1.0,1.0,...,1.0,1.0,1.0,1.0,1.0,1.0,1.0,1.0,1.0,1.0
529,None,2.0,1.0,1.0,1.0,1.0,1.0,1.0,1.0,1.0,...,1.0,1.0,1.0,1.0,1.0,1.0,1.0,1.0,1.0,1.0
530,None,1.0,1.0,1.0,1.0,1.0,1.0,1.0,1.0,1.0,...,1.0,1.0,1.0,1.0,1.0,1.0,1.0,1.0,1.0,1.0
531,None,2.0,1.0,1.0,1.0,1.0,1.0,1.0,1.0,1.0,...,1.0,1.0,1.0,1.0,1.0,1.0,1.0,1.0,1.0,1.0
532,None,3.0,1.0,1.0,1.0,1.0,1.0,1.0,1.0,1.0,...,1.0,1.0,1.0,1.0,1.0,1.0,1.0,1.0,1.0,1.0

In [23]:
pd.concat([pd.Series(['a']*len(test)), test.reset_index()], axis=1)

,0,index,user,y,x1,x2,x3,x4,x5,x6,...,x775,x776,x777,x778,x779,x780,x781,x782,x783,x784
0,a,513,None,53.0,1.0,1.0,1.0,1.0,1.0,1.0,...,1.0,1.0,1.0,1.0,1.0,1.0,1.0,1.0,1.0,1.0
1,a,514,None,2.0,1.0,1.0,1.0,1.0,1.0,1.0,...,1.0,1.0,1.0,1.0,1.0,1.0,1.0,1.0,1.0,1.0
2,a,515,None,8.0,1.0,1.0,1.0,1.0,1.0,1.0,...,1.0,1.0,1.0,1.0,1.0,1.0,1.0,1.0,1.0,1.0
3,a,516,None,2.0,1.0,1.0,1.0,1.0,1.0,1.0,...,1.0,1.0,1.0,1.0,1.0,1.0,1.0,1.0,1.0,1.0
4,a,517,None,0.0,1.0,1.0,1.0,1.0,1.0,1.0,...,1.0,1.0,1.0,1.0,1.0,1.0,1.0,1.0,1.0,1.0
5,a,518,None,7.0,1.0,1.0,1.0,1.0,1.0,1.0,...,1.0,1.0,1.0,1.0,1.0,1.0,1.0,1.0,1.0,1.0
6,a,519,None,27.0,1.0,1.0,1.0,1.0,1.0,1.0,...,1.0,1.0,1.0,1.0,1.0,1.0,1.0,1.0,1.0,1.0
7,a,520,None,25.0,1.0,1.0,1.0,1.0,1.0,1.0,...,1.0,1.0,1.0,1.0,1.0,1.0,1.0,1.0,1.0,1.0
8,a,521,None,5.0,1.0,1.0,1.0,1.0,1.0,1.0,...,1.0,1.0,1.0,1.0,1.0,1.0,1.0,1.0,1.0,1.0
9,a,522,None,58.0,1.0,1.0,1.0,1.0,1.0,1.0,...,1.0,1.0,1.0,1.0,1.0,1.0,1.0,1.0,1.0,1.0
10,a,523,None,4.0,1.0,1.0,1.0,1.0,1.0,1.0,...,1.0,1.0,1.0,1.0,1.0,1.0,1.0,1.0,1.0,1.0
11,a,524,None,0.0,1.0,1.0,1.0,1.0,1.0,1.0,...,1.0,1.0,1.0,1.0,1.0,1.0,1.0,1.0,1.0,1.0
12,a,525,None,3.0,1.0,1.0,1.0,1.0,1.0,1.0,...,1.0,1.0,1.0,1.0,1.0,1.0,1.0,1.0,1.0,1.0
13,a,526,None,5.0,1.0,1.0,1.0,1.0,1.0,1.0,...,1.0,1.0,1.0,1.0,1.0,1.0,1.0,1.0,1.0,1.0
14,a,527,None,3.0,1.0,1.0,1.0,1.0,1.0,1.0,...,1.0,1.0,1.0,1.0,1.0,1.0,1.0,1.0,1.0,1.0
15,a,528,None,3.0,1.0,1.0,1.0,1.0,1.0,1.0,...,1.0,1.0,1.0,1.0,1.0,1.0,1.0,1.0,1.0,1.0
16,a,529,None,2.0,1.0,1.0,1.0,1.0,1.0,1.0,...,1.0,1.0,1.0,1.0,1.0,1.0,1.0,1.0,1.0,1.0
17,a,530,None,1.0,1.0,1.0,1.0,1.0,1.0,1.0,...,1.0,1.0,1.0,1.0,1.0,1.0,1.0,1.0,1.0,1.0
18,a,531,None,2.0,1.0,1.0,1.0,1.0,1.0,1.0,...,1.0,1.0,1.0,1.0,1.0,1.0,1.0,1.0,1.0,1.0
19,a,532,None,3.0,1.0,1.0,1.0,1.0,1.0,1.0,...,1.0,1.0,1.0,1.0,1.0,1.0,1.0,1.0,1.0,1.0

In [2]:
import json
with open(os.path.join(os.getcwd(), 'data', 'all_data', "all_data_0.json"), "r") as f:
    o = json.loads(f.read())

In [4]:
o.keys()

dict_keys(['users', 'num_samples', 'user_data'])

In [9]:
len(o['user_data']['f0000_14']['x'])

382

In [10]:
tot = 0
for k in o['user_data'].keys():
    tot += len(o['user_data']['f0000_14']['x'])

tot

38200